@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../font/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #ffffff;
  margin: 0px;
}

/*MENU*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #4CAF50;
}

.active {
  background-color: #4CAF50;
}

/*CIRCULO*/
#espacosemantico{
  position: relative;
  width: 100%;
}
.semantic {
  position: relative;
  height: 499px;
  width: 560px;
  margin-top: -15px;
  left: 50%;
  margin-left: -300px;
}

#circulo {
  position: absolute;
  width: 10px;
  border: solid 1px white;
  height: 10px;
  background-color: red;
  border-radius: 50px;
  visibility: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);;
}

#excitacao{
  text-align: center;
  width: 100%;
  position: fixed;
  margin-top: 7px;
}
#valencia{
  position: absolute;
  width: 99%;
  margin-top: 242px;
}
#rodape {
  position: fixed;
  bottom: 0px;
  background-color: #4CAF50;
  width: 100%;
}

/*SLIDER*/
#main{
	width:500px;
	height:200px;
	margin:0 auto;
	padding-top:50px;
	position:relative;
	text-align:center;
}
.note{
	padding:0 20px;
	font-size:18px;
}
.defaultSlider{
	width:200px;
  margin-bottom:20px;
}
.botao{
  width: 200px;
  height: 50px;
  position: relative;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}
.btn{
  padding: 0 0 30px 220px;
  text-align: right;
}
.input{
  padding: 0 0 30px;
  text-align: left;
}
.div{
  padding-top: 50px;
}
.id{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border-color: #111;
  border-width: 0.5px;
}
.labelright{
  text-align: left;
  padding-right: 400px;
  font-size: 18px
}
.labelleft{
  text-align: right;
  font-size: 18px
}
.labelquadrante{
  text-align: center;
  font-size: 18px;
}

/*SAM*/
.radio{
  position: relative;
  cursor: pointer;
  line-height: 30px;
  font-size: 14px;
  margin: 17px;
}
.label{
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.img {
  width: 110px;
  cursor: pointer;
}
#main2{
	width:600px;
	height:200px;
	margin:0 auto;
	padding-top:50px;
	position:relative;
	text-align:center;
}

.radioEmo{
  margin: 45px;
  position: relative;
  cursor: pointer;
  line-height: 30px;
  font-size: 14px;
}
